* {
  padding: 0;
  margin: 0;
  font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
}
.menu {
  height: 70px;
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .logo-text a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  color: #007bff;
}
.menu .logo-text i {
  color: #007bff;
  font-size: 22px;
  margin-right: 8px;
}
.menu li,
.menu ul li a {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #131313;
}

.menu li a:hover {
  color: #007bff;
}
.menu ul {
  display: flex;
  gap: 50px;
}
.container {
  background-color: #d9d9d9;
  height: 100vh;
  display: flex;
}

.import-box {
  background-color: rgb(249, 249, 249);
  border-radius: 25px;
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 80px 50px 80px;
}
.import-header {
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 10px;
}
.sub-heading {
  padding: 5px;
}
.dotted-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed gray;
  border-radius: 6px;
  height: 400px;
}
.light-text {
  opacity: 70%;
}
label {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 120px;
  font-weight: 550;
}

#file-info {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  width: auto;
  border-radius: 12px;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

.file-icon i {
  font-size: 18px;
}

input {
  display: none;
}

#convertBtn {
  margin: 20px;
  text-align: center;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 50px;
  width: 180px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 550;
}
#convertBtn:hover {
  background-color: #218838;
  border: transparent;
}

label:hover {
  background-color: #0056b3;
}

#output {
  margin-top: 20px;
}

a#downloadLink {
  display: inline-block;
  padding: 10px 20px;
  background-color: #17a2b8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a#downloadLink:hover {
  background-color: #117a8b;
}

#upload-success {
  width: auto;
  font-size: 18px;
  padding: 20px;
  position: absolute;
  align-items: center;
  bottom: 30px;
  right: 30px;
  color: green;
  background-color: #fff;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  margin: auto;
}

#upload-success i {
  font-size: 35px;
  padding-right: 10px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #fff;
  height: 60px;
  align-content: center;
}
footer .blue-text a {
  color: blue;
  text-decoration: none;
}
